# Insert the following snippet into your project .npmrc

@quickstart:registry=https://us-central1-npm.pkg.dev/botmilhas-c2387/quickstart-nodejs-repo/
//us-central1-npm.pkg.dev/botmilhas-c2387/quickstart-nodejs-repo/:always-auth=true

